/* top_config */
/* body */
body{
    overflow: hidden;
}

#title {
    background-image: url("../images/title_bg.png") !important;
    background-size: cover !important;
}



h1 {
    height: 13%;
    margin-top: 20%!important;
    margin-bottom: 30%!important;
}

h1 img {
    height: 100%;
}

#tap {
    height: 15%;
    margin-top: 40%!important;
    margin-bottom: 30%!important;
    background: none;
    border: 5px solid #ffffff;
    border-radius: 10px;
}

#tap img{
    height: 100%;
}

#view-planet {
    width: 100%;
    position: absolute;
    bottom: -25%;
}

.view-layer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.view-layer-block {
    
}
#boy {
    height: 32px;
    width: 32px;
    transform: scale(3,3);
    position: absolute;
    left: 65%;
    bottom: 330px;
}
.boy1 {
    background: url(../images/people/boy1.png)!important;

}
.boy2 {
    background: url(../images/people/boy2.png)!important;
}
#girl {
    height: 32px;
    width: 32px;
    transform: scale(3,3);
    position: absolute;
    left: 20%;
    bottom: 250px;
}
.girl1 {
    background: url(../images/people/girl1.png)!important;
}
.girl2 {
    background: url(../images/people/girl2.png)!important;
}

#weed {
    background: url(../images/weed/wood.png);
    height: 80px;
    width: 80px;
    position: absolute;
    left: 30%;
    bottom: 300px;
}

#background-weather {
    background-size: cover !important;
}
.sunny {
    background:url(../images/weather/sunny_bg.png)!important;
}
.rain {
    background:url(../images/weather/rain_bg.png)!important;
}

#season_wood {
    height: 80px;
    width: 80px;
    position: absolute;
    left: 60%;
    bottom: 200px;
    background-size: contain !important;
}
#season_wood2 {
    height: 80px;
    width: 80px;
    position: absolute;
    left: 20%;
    bottom: 150px;
    background-size: contain !important;
}
#season_wood3 {
    height: 80px;
    width: 80px;
    position: absolute;
    left: 55%;
    bottom: 100px;
    background-size: contain !important;
    transform:rotate(180) ;
}
.spring_wood {
    background:url(../images/weed/sakura.png) no-repeat;
}
.summer_wood {
    background:url(../images/weed/wood.png) no-repeat;
}
.autumn_wood {
    background:url(../images/weed/momizi.png) no-repeat;
}
.winter_wood {
    background:url(../images/weed/kareki.png) no-repeat;
}

#season_name {
    color: white;
    font-size: 8vw;
    padding: 0!important;
    margin: 0!important;
    text-align: left!important;
}

#rainy_percent{
    color: white;
    font-size: 6vw;
    text-align: left!important;
}
#humidity {
    color: white;
    font-size: 6vw;
    text-align: left!important;
}